<h1>Edit Location</h1>

<%= render 'form', place: @place %>

<%= link_to '<button type="button">Show Place</button>'.html_safe, @place %>
<%= link_to '<button type="button">List of Places</button>'.html_safe, places_path %>
