<h1>Edit Location</h1>

<%= render 'form', place: @place %>

<%= link_to '<button type="button">List of Available Regions</button>'.html_safe, places_path %>
<%= link_to '<button type="button">Back to Current Region</button>'.html_safe, @place %>
