<%= include_gon %>
<h1 class = "h1format">Add a Business</h1>
<h3> Your contribution means so much to local businesses and users </h3>

<%= render 'form' %>

<td><%= link_to'<button type="button">Back</button>'.html_safe, @place %></td>
