<%= include_gon %>
<strong><h1 class = "h1format">Add a Business</h1></strong>
<h3> 👋  Welcome! Sign up here to be an ally for those in your community that are out of luck!
  In order to participate, you must be a local business. You can offer food, temporary shelter, and other services! <br><br>
  Your contribution means so much to the community - thank you in advance! </h3>

<%= render 'form' %>

<td><%= link_to'<button type="button">Back</button>'.html_safe, @place %></td>
